.register-container{
    width: 100vw;
    height: 100vh;
    background: -moz-linear-gradient(90deg, rgba(92, 126, 129, 1) 0%, rgba(164, 38, 130, 1) 100%); 

    /* safari 5.1+,chrome 10+ */
    background: -webkit-linear-gradient(90deg, rgba(92, 126, 129, 1) 0%, rgba(164, 38, 130, 1) 100%);

    /* opera 11.10+ */
    background: -o-linear-gradient(90deg, rgba(92, 126, 129, 1) 0%, rgba(164, 38, 130, 1) 100%);

    /* ie 6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#A42682', endColorstr='#5C7E81', GradientType=0 );

    /* ie 10+ */
    background: -ms-linear-gradient(90deg, rgba(92, 126, 129, 1) 0%, rgba(164, 38, 130, 1) 100%);

    /* global 94%+ browsers support */
    background: linear-gradient(90deg, rgba(92, 126, 129, 1) 0%, rgba(164, 38, 130, 1) 100%);
    
}

.main-container1{
    width: 100vw;
    height: 100vh;
    flex-direction: row;
}
.register-container-component{

    background-color: azure ;
    position: absolute;
    top: 30%;
    left: 30%;
    align-items: center;
    width: 40%;
    height: 50%;
     border-radius: 30px;
    filter: brightness(90%);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.register-container-component  button{
    font-size: 3rem;
}

.login-btn{
    position:absolute;
     right: 5%;
}

.register-heading-text{
    position: absolute;
    top: 10rem;
    left: 20rem;
    font-family: "Luckiest Guy", cursive;
    text-align: center;
    font-size: 5rem;
    color: rgba(100, 87, 188, 0.75);
    background-color:transparent;
    text-shadow: rgb(0, 0, 0) 4px 3px 15px;
}
.heading-containr1{
    background-image: url('../../assets/240_F_89241093_oS2Ch4fx3UxukMosnsbfTGdx4ADYV8WA.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height:100%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.register-container input{
    font-size: 3rem;
}

.label-input{
    margin-left: 0rem;
    font-size: 3rem;
}

.form-control{
    width: 40%;
    
}

@media only screen and (max-width: 767px) {
    /* CSS styles for phones */
    .main-container1{
        height: 75vh;
        flex-direction: column;
    }

    .box {
        width: 100%;
    }

    .heading-containr{
        width: 100vw;
        height: 30vh;
    }

    .register-container-component{
        position: relative;
        width: 80%;
        margin-left: 0%;
        height: 40%;
        border-radius: 1rem;
        left: 0%;
        top: 5%;
    }

    .label-input{
        font-size: 2rem;
    }

    .register-container input{
        font-size: 2rem;
    }

    .register-heading-text{
        top: 10rem;
        position: relative;
        font-size: 2.5rem;
        left: 0rem;
    }

    .register-container button{
        font-size: 1rem;
    }

    .login-btn{

        top: 75%;
    }


  }