.cart-main{
    display: flex;
    flex-direction: column;
    align-items: center; /* Horizontal centering */
    
    /* Optionally, you can set width and height to control the size of the centered div */
    width: 100%; 
    height: 100vh;
    
  }

  .heading-cart{
    margin-top: 10rem;
    font-size: 3rem;
  }

  .selected-preduct-image{
    width: 100px;
    height: 100px;
    border-radius: 1rem;
  }
  
  .cart-items {
 
    width: 90%;
    height: auto;
    text-align: center;
  }
.cart-items thead tr th{
    font-size: 1rem;
}
.cart-items tbody tr td{
    font-size: 1rem;
}

@media only screen and (max-width: 767px){
  .cart-items{
    width: 100%;
  }

  .cart-items thead tr th{
    font-size: 0.5rem;
  }

  .heading-cart{
    font-size: 2rem;
    margin-top: 5rem;
  }

  .cart-items button{
    font-size: 0.5rem;
  }
   .selected-preduct-image{
    width: 80px;
   }
}